@model Nashtech_Ecommerce.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src=".../100px180/" alt=@Model.Name>
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <a href="#" class="btn btn-primary">Add To Cart</a>
    </div>
</div>
