@model IEnumerable<Nashtech_Ecommerce.Models.Category>
@{
    ViewData["Title"] = "Home Page";
    var products = (List<Nashtech_Ecommerce.Models.Product>)ViewBag.products;
}

@section Categories     {
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
            Categories
        </a>
        @foreach (var item in Model)
        {
            <a class="list-group-item list-group-item-action" asp-controller="Products" asp-action="ProductCategory" asp-route-id=@item.Id>@item.Name</a>
        }
    </div>
}
<div class="row">
    @foreach (var product in products)
    {
        <div class="col-deck">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://minhtuanmobile.com/uploads/products/iphone-13-01-210915055737-210915175738_thumb.jpg" alt=@product.Name>
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
    }
</div>
