@model IEnumerable<Nashtech_Ecommerce.Models.Category>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var item in Model)
        {
            <a class="dropdown-item" href="/">@item.Name</a>
        }
    </div>
</li>